.background {
  height: 140px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  position: absolute;
  width: 100%;
  background: url(https://static1.squarespace.com/static/55c18d4de4b081fdca9d0256/t/59d28bf4c534a52e50039431/1506970617787/open+doors.jpg?format=1500w) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  align-self: center;
  margin-left: 2rem;
}

h2 {
  font-family: 'Indie Flower', cursive;
  height: fit-content;
  position: relative;
  left:418px;
  top: 30px;
}

img[alt='michael-logo'] {
  width: 17rem;
}
